{% extends 'app_ventas/index.html' %}
{% load static %}

{% block titulo %}
    <h1 class="text-center"> 
        <h2>Acerca de mí</h2>
        <p>Soy Valentina Leal, mi principal objetivo con este curso es entender cómo funciona la lógica de un lenguaje de programación que actualmente es muy relevante y con esto tener herramientas que me permitan un mejor desempeño en mi trabajo.
        <p>Soy de Medellín, Colombia. Actualmente trabajo como Project Manager para una empresa de Tecnología.</p>
    </h1>
{% endblock titulo %}


{% block contenido %}

{% endblock contenido %}