{% extends 'app_ventas/index.html' %}
{% load static %}

{% block titulo %}
    <h1 class="text-center"> 
           Reporte Vendedores
    </h1>
{% endblock titulo %}


{% block contenido %}

    <!-- <h4>Cantidad de empresas en la tabla {{ empresas|length }}</h4>       -->
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre del Vendedores</th>
                <th>Email</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
    {% for c in vendedores  %}
            <tr>
                <td>{{ c.nombre }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.telefono }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}